{% extends "patient_layout.html" %}
{% load staticfiles %}
{% block patient_content %}

<div class='container'>
    <div class="page-header">
        <h1> {% if creation %}
            Ajouter un nouveau patient
            {% elif edition %}
            Modifier les informations d'un patient
        {% endif %}</h1>
    </div>

    <div>
    {%if success %}
        Le nouveau patient est bien enregistré !
    {% elif success_edit %}
        Le patient a bien été modifié !
    {%endif%}
    </div>

    {% if creation %}

        <form action="{%  url 'patient:new_patient' %}" method="post">

    {% elif edition %}

        <form action="{%  url 'patient:edit_patient' patient_to_edit.id %}" method="post">

    {% endif %}

            {%csrf_token%}
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            <div class="form-group">
                {{field.label}}
                {{field}}
            </div>
            {% endfor %}
            <input class="btn btn-default" type="submit" value="Enregistrer"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    <div>
    <a href="{% url 'patient:patient_list' %}" class="btn btn-primary btn-lg .center-block" role="button">Retour à la liste</a>
    </div>

</div>
{% endblock %}

{% block javascript_child %}

{% endblock %}