{% extends "patient_layout.html" %}
{% load staticfiles %}
{% block patient_content %}

<div class='container'>
    <div class="page-header">
        <h1> {% if creation %}
            Ajouter un nouveau patient
            {% elif edition %}
            Modifier les informations d'un patient
        {% endif %}</h1>
    </div>

    <div>
    {%if success %}
        Le nouveau patient est bien enregistré !
    {% elif success_edit %}
        Le patient a bien été modifié !
    {%endif%}
    </div>
    {% if success or success_edit %}
        <div id="successModal" class="modal fade">
            <div class="modal-dialog" style="margin-top: 20%;">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" style="margin:10px;"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <div class="modal-body">
                        <p class="text-center">Vos informations ont bien été enregistrées !</p>
                        <div class="text-center">
                            <a id="button_back" class="btn btn-success" href="{% url 'patient:patient_list' %}" role="button">Retour à la liste des patients</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if creation %}

        <form action="{%  url 'patient:new_patient' %}" method="post">

    {% elif edition %}

        <form action="{%  url 'patient:edit_patient' patient_to_edit.id %}" method="post">

    {% endif %}

            {%csrf_token%}
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            {% if field.label == 'Date de naissance' %}
                <div class="form-group">
                    {{ field.label }}
                  <div class='input-group' id='datetimepicker9'>
                    {{ field }}
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
            {% else %}
                <div class="form-group">
                    {{field.label}}
                    {{field}}
                </div>
            {% endif %}
            {% endfor %}
            <input class="btn btn-default" type="submit" value="Enregistrer"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    <div>
    <a href="{% url 'patient:patient_list' %}" class="btn btn-primary btn-lg .center-block" role="button">Retour à la liste</a>
    </div>

</div>
{% endblock %}

{% block javascript_child %}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker9').datetimepicker({
            viewMode: 'years',
            format: 'DD/MM/YYYY'
        });
    });
    {%if success or success_edit %}
        $(document).ready(function() {
            $('#successModal').modal();
                });
    {% endif %}
</script>
{% endblock %}