{% extends "patient_layout.html" %}
{% load staticfiles %}
{% block patient_content %}

    <div class="container-fluid">
        <h2 class="col-xs-6 col-xs-offset-3">Informations du patient</h2>
        <div class="col-xs-6 col-xs-offset-3">
            <table class="table table-striped">
                <tr>
                    <td>Nom</td>
                    <td>{{ patient.last_name|upper }}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>{{ patient.first_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ patient.email }}</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>{{ patient.address }}</td>
                </tr>
                <tr>
                    <td>Code postal</td>
                    <td>{{ patient.postcode }}</td>
                </tr>
                <tr>
                    <td>Ville</td>
                    <td>{{ patient.city|upper }}</td>
                </tr>
                <tr>
                    <td>Date de naissance</td>
                    <td>{{ patient.birthdate|date }}</td>
                </tr>
                <tr>
                    <td>Informations spécifiques</td>
                    <td>{{ patient.information }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}