
/* ------------- Basic Div --------------- */
.basic_div{
    border-style: solid;
}

.basic_title_div{
    padding-left: 10px;
    padding-right: 10px;
}

.basic_title_div h1{
    font-size: calc(13px + 1.2vw);
    font-weight: bold;

}
/* ------------- Button Style --------------- */ 


/* ------------- Footer Style --------------- */

footer{
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
	background-color : #b2b2ff;
	color : white;
}

footer h2{
	font-size: 18px;
	font-weight: bold;
	text-align:center;
}
/* ------------------- Removing dots in li ------------------------*/

ul
{
list-style-type: none;
}
