
/* ------------- Basic Div --------------- */
.basic_div{
    border-style: solid;
}

.basic_title_div{
    padding-left: 10px;
    padding-right: 10px;
}

.basic_title_div h1{
    font-size: calc(13px + 1.2vw);
    font-weight: bold;

}
/* ------------- Button Style --------------- */ 


/* ------------- Footer Style --------------- */ 
footer{
    position: fixed;
    height: 0px;
    bottom: 0;
    width: 100%;
	background-color : #b2b2ff;
	color : white;
}

footer h2{
	font-size: 18px;
	font-weight: bold;
	text-align:center;
}

.footer_list{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.footer_list li{
    margin-bottom: 5px;
}

.footer_list a{
    color: white;
    text-decoration: none;
}

.footer_list a:hover {
    color: #D8D8D8;
    text-decoration: none;
}

/* ------------------- Removing dots in li ------------------------*/

ul
{
list-style-type: none;
}
