{% extends "availability_layout.html" %}
{% load staticfiles %}
{% block availability_content %}

	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="nav-availability">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home:dashboard' %}">Mon tableau de bord</a></li>
                    <li class="active"><a href="{% url 'availability:manage_availability' %}">Mes horaires</a><span class="sr-only">(current)</span></li>
                    <li><a href="{% url 'patient:patient_list' %}">Mes patients</a></li>
                    <li><a href="{% url 'user:account' %}">Mon compte</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<link rel="stylesheet" href="{% static 'availability/css/manage_availability_style.css' %}">
    <div class="container">

	    <div id="fullCalModalRemoveUniqueAvailability" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
						<h4 id="modalTitleRemoveUniqueAvailability" 
						class="modal-title center">Suppression de la plage de disponibilité</h4>
					</div>
					<div id="modalBodyRemoveUniqueAvailability" class="modal-body">
						<div id="modalBodyRemoveUniqueAvailability"> Voulez-vous supprimer cette plage de disponilité ? </div>
						<form id= "form_remove_unique_availability"  data-async method="POST">
							{% csrf_token %}
							<input  type="hidden" name="remove-unique-availability-id" id="remove-unique-availability-id" />
						</form>
						<div class="row" style="margin-top:10px;">
							<div class= "col-lg-6 center">
								<button id="button_remove_unique_availability" class="btn bbtn btn-danger">Confirmer la suppression</button>
							</div>
							<div class= "col-lg-6 center">
								<button id="button_not_remove _unique_availability" class="btn bbtn btn-success">Ne pas supprimer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		 <div id="fullCalModalRemoveRepeatedAvailability" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
						<h4 id="modalTitleEdit" class="modal-title center">Suppression de la plage de disponibilité</h4>
					</div>
					<div id="modalBodyEdit" class="modal-body">
						<div id="modalBodyRemoveRepeatedAvailability"> Attention, cette plage de disponiblité est une plage répétée, voulez-vous supprimer seulement cette plage de disponilité ou aussi toutes celles associées ? </div>
						<form id= "form_remove_availability_repeated_availability"  data-async method="POST">
							{% csrf_token %}
							<input  type="hidden" name="remove-repeated-availability-id" id="remove-repeated-availability-id" />
						</form>
						<div class="row" style="margin-top:10px;">
							<div class= "col-lg-6 center">
								<button id="button_remove_repeated_availability_only_this_one" 
								class="btn btn-danger">Supprimer seulement cette disponiblité</button>
							</div>
							<div class= "col-lg-6 center">
								<button id="button_remove_repeated_availability_all" 
								class="btn btn-success">Supprimer les disponiblités associées</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    	<div class="row basic_div">
    		<div class="col-sm-6 col-sm-offset-3">
    			<form method="post" action="{% url 'availability:manage_availability' %}">
				    {% csrf_token %}
				    <div class="basic_title_div row" >
	                	<h1 class="text-center">Ajouter une disponibilité à {{ request.user.username}} </h1>
	           	 	</div>
				    <div class="form-group">
						<div class="">
							{{ add_availability_form.start_date.errors }}
							{{ add_availability_form.start_date }}
							
						</div>
					</div>
					 <div class="form-group">
						<div class="">
							{{ add_availability_form.duration.errors }}
							{{ add_availability_form.duration }}
							
						</div>
					</div>
					 <div class="form-group">
						<div class="">
							{{ add_availability_form.frequency.errors }}
							{{ add_availability_form.frequency }}
							
						</div>
					</div>
				   	<div class="form-group">
						<div class="col-lg-10 col-lg-offset-1">
				    		<input id ="register_submit_button"
				    		class="center-block btn btn-lg btn-primary " 
				    		type="submit" value="S'inscrire" />
				    	</div>
				    </div>
				</form>
    		</div>
    	</div>
    	<hr>
    	<div class="row basic_div">
	    	<div class = "col-lg-12">
	    		<div class="basic_title_div row" >
	            	<h1 class="text-center">Liste de vos disponibilités</h1>
	       	 	</div>
	       	 </div>
	       	 {% for availability in availabilities %}
	       	 	<div class="row availability_div">
	       	 		<div class="text-center col-lg-8">
	       	 			{{availability}}
	       	 		</div>
	       	 		<div class="col-lg-4">
	       	 			{% if availability.availability_group.frequency == 'U' %}
	       	 			<button class="center-block btn btn-danger"
	       	 			onclick='openfullCalModalRemoveUniqueAvailability("{{availability.id}}")'>Supprimer </button>
	       	 			{% else %}
	       	 			<button class="center-block btn btn-danger"
	       	 			onclick='openfullCalModalRemoveRepeatlyAvailability("{{availability.id}}")'>Supprimer </button>
	       	 			{% endif %}
	       	 		</div>
	       	 	</div>
	       	 	<hr>
	       	 	
	       	 {% endfor %}
    	</div>
    </div>

  
    

{% endblock %}

{% block javascript_child %}
	<script type="text/javascript">
		function openfullCalModalRemoveRepeatlyAvailability(availabilityId){
	    	$('#remove-repeated-availability-id').val(availabilityId);
			$('#fullCalModalRemoveRepeatedAvailability').modal();
		}
		function openfullCalModalRemoveUniqueAvailability(availabilityId){
	    	$('#remove-unique-availability-id').val(availabilityId);
			$('#fullCalModalRemoveUniqueAvailability').modal();
		}
    </script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#button_remove_unique_availability').click(function(event) {
				$('#fullCalModalRemoveUniqueAvailability').modal('hide');
				var $form = $('#form_remove_unique_availability');
				$.ajax({
					type: "POST",
					url:  "{% url 'availability:remove_unique_availability' %}",
					data: $form.serialize(),
					success: function(json) {
						location.reload();
					}
				});
			});
			$('#button_remove_repeated_availability_only_this_one').click(function(event) {
				$('#fullCalModalRemoveRepeatedAvailability').modal('hide');
				var $form = $('#form_remove_availability_repeated_availability');
				$.ajax({
					type: "POST",
					url:  "{% url 'availability:remove_repeatly_availability_only_this_one' %}",
					data: $form.serialize(),
					success: function(json) {
						location.reload();
					}
				});
			});
			$('#button_remove_repeated_availability_all').click(function(event) {
				$('#fullCalModalRemoveRepeatedAvailability').modal('hide');
				var $form = $('#form_remove_availability_repeated_availability');
				$.ajax({
					type: "POST",
					url:  "{% url 'availability:remove_repeatly_availability_all' %}",
					data: $form.serialize(),
					success: function(json) {
						location.reload();
					}
				});
			});
		});
	</script>

{% endblock %}