{% extends "availability_layout.html" %}

{% block availability_content %}
    <div class="container">
    	<div class="row">
    		<div class="col-sm-6 col-sm-offset-3">
    			<form method="post" action="{% url 'availability:manage_availability' %}">
				    {% csrf_token %}
				    {{ request.user.username}}
				    <div class="div_default_title row" >
	                	<h1 class="text-center">Ajouter une disponibilité</h1>
	           	 	</div>
				    <div class="form-group">
						<div class="">
							{{ add_availability_form.start_date.errors }}
							{{ add_availability_form.start_date }}
							
						</div>
					</div>
					 <div class="form-group">
						<div class="">
							{{ add_availability_form.duration.errors }}
							{{ add_availability_form.duration }}
							
						</div>
					</div>
					 <div class="form-group">
						<div class="">
							{{ add_availability_form.frequency.errors }}
							{{ add_availability_form.frequency }}
							
						</div>
					</div>
				   	<div class="form-group">
						<div class="col-lg-10 col-lg-offset-1">
				    		<input id ="register_submit_button"
				    		class="center-block btn btn-lg btn-primary " 
				    		type="submit" value="S'inscrire" />
				    	</div>
				    </div>
				</form>
    		</div>
    	</div>
    </div>

{% endblock %}