{% extends 'user_layout.html' %}

{% block user_content %}

<div class="container">
    <div class="page-header">
    <h2>Se connecter</h2>
    </div>

    {% if form.errors %}
    <p>Erreur dans la saisie du nom d'utilisateur et du mot de passe.</p>
    {% endif %}

    {% if request.user.is_authenticated %}
    <p>Vous êtes déjà connecté sur la plateforme. Pour accéder à votre tableau de bord, cliquez <a
            href="{% url 'home:dashboard' %}">ici</a>.</p>
    {% else %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nom d'utilisateur</label>
            <input type="text" class="form-control" placeholder="Nom d'utilisateur" autofocus="" id="id_username"
                   maxlength="254" name="username" required>
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" placeholder="Mot de passe" id="id_password" name="password"
                   required>
        </div>
        <input class="btn btn-default" type="submit" value="Connexion"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    {% endif %}

</div>

{% endblock %}