{% extends "home_layout.html" %}
{% load staticfiles %}
{% block home_content %}
    <section>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="nav-home">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home:dashboard' %}">Mon tableau de bord<span
                                class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="{% url 'availability:manage_availability' %}">Mes horaires</a></li>
                        <li><a href="{% url 'patient:patient_list' %}">Mes patients</a></li>
                        <li><a href="{% url 'user:account' %}">Mon compte</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">

                <!-- Main block displaying appointments -->
                <div class="col-md-6">

                    <p class="text-center">Mes prochains rendez-vous</p>

                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <th>
                            <td>Nom</td>
                            <td>Prénom</td>
                            <td>Adresse</td>
                            </th>
                            {% for appointment, patient in appointments %}
                                <tr class="clickable-row" data-href="{% url 'event:appointment_detail' appointment.id %}">
                                    <td>{{ appointment.start_time|date:"D  d-m-y  à  G:i" }}</td>
                                    <td>{{ patient.last_name|upper }}</td>
                                    <td>{{ patient.first_name }}</td>
                                    <td>{{ patient.address }} <br> {{ patient.postcode }} {{ patient.city }}</td>
                                </tr>
                            {% empty %}
                                <!-- Fake data for design purposes-->
                                <tr>
                                    <td>14h00</td>
                                    <td>Dupont</td>
                                    <td>Jean</td>
                                    <td>1, avenue des Champs-Elysées</td>
                                </tr>
                                <tr>
                                    <td>14h45</td>
                                    <td>Abitbol</td>
                                    <td>Georges</td>
                                    <td>3, rue de la Classe</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
                <div class="col-md-6">
                        <pre>
                            <p class="text-center">BLOC RESERVE GOOGLE MAPS</p>
                        </pre>
                </div>
            </div>
        </div>


    </section>
{% endblock %}

{% block javascript_child %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").hover(function() {
                $(this).css("background-color", "#f9f9f9").css("cursor", "pointer");
            });
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}